#bg{
    background-image: url(../assets/container.png);
    background-repeat: no-repeat;
    margin-top: 5rem;
    height: 558px;
    margin-left: 10rem;
}

h3{
    margin-right: 10rem;
}
#input{
    background-color: white;
    text-indent: 5px;
}

section{
    width: 1129px;
    margin-left: 5rem;
}