#bg{
    background-image: url(../assets/container.png);
    background-repeat: no-repeat;
    margin-top: 5rem;
    height: 558px;
    margin-left: 10rem;
    background-size: contain; 
   width: 1100px;
}
#input{
    background-color: transparent;
    
}

#mint{
    width: 98%;
    }

#mint h2{
    font-size: 2rem;
    white-space:nowrap;
    margin-left: 2rem;
 }
 #mint h1{
   margin-right: 8rem;
   white-space: nowrap;
 }
#mint button{
    margin-left: 17rem;
}
#bg h3{
    font-size: 3rem;
}

#bg span{
    font-size: 1.5rem;
}
#inut{
    margin-left: 8rem;
}


@media (max-width: 1068px) { 
    #bg{
        background-size: contain;
        width: 680px;
        background-size: contain;
        margin-bottom: -10rem;
        margin-left: 5%;
        padding-right: -5rem;
        }
        #mint{
        width: 680px;
        margin-left: -1.59rem;
        margin-top:-15rem;
        }
        #mint h2{
           font-size: 1.5rem;
           white-space:nowrap;
           margin-right: -10rem;
           margin-left: -3.5rem;
        }
        #mint h1{
          margin-left: 2rem;
          white-space: nowrap;
        }
        #bg h3{
            margin-top: -3rem;
           
        }
        #input{
            margin-left: 8rem;
        }
        #inut{
            width: 45rem;
            margin-right: 10px;
        }
        #input button{
            height: 3rem;
        }
   
}

@media (max-width: 788px) { 
    #bg{
    background-size: contain;
    width: 680px;
    background-size: contain;
    margin-bottom: -10rem;
    margin-left: 5%;
    padding-right: -5rem;
    }
    #mint{
    width: 680px;
    margin-left: -3rem;
    margin-top:-15rem;
    }
    #mint h2{
       font-size: 1.5rem;
       white-space:nowrap;
       margin-right: -10rem;
       margin-left: -3.5rem;
    }
    #mint h1{
      margin-left: 2rem;
      white-space: nowrap;
    }
    #bg h3{
        margin-top: -3rem;
       
    }
    #input{
        margin-left: 8rem;
    }
    #inut{
        width: 45rem;
        margin-right: 10px;
    }
    #input button{
        height: 3rem;
    }
    #bg h3{
        font-size: 2rem;
    }
    
    #bg span{
        font-size: 1.5rem;
    }
}

@media (max-width: 688px) { 
    #bg{
        background-size: contain;
        width:60%;
        background-size: contain;
        margin-bottom: -25rem;
        margin-left: 5%;
        padding-right: -5rem;
        }
        #mint{
        width: 32%;
        margin-left: -4rem;
        margin-top:-15rem;
        padding-right: -20rem;
        }
        #mint h2{
           font-size: 1rem;
           white-space:nowrap;
           margin-right: -20rem;
           margin-left: -28rem;

        }
        #mint h1{
          margin-left: 0.9rem;
          white-space: nowrap;
        }
        #mint button{
           margin-left: -17rem;
           width: 5rem;
           font-size: 10px;
           white-space: nowrap;
        }

        #bg h3{
            margin-top: -3rem;
           
        }
        #input{
            margin-left: 8rem;
            margin-top: -2rem;
            height: 2rem;
        }
        #inut{
            width: 8rem;
            margin-right: 10px;
            margin-left: -7px;
        }
        input::placeholder{
            font-size: 14px;
        }
        #input button{
            height: 1rem;
            width: 4rem;
            font-size: 8px;
        }
        #bg h3{
            font-size: 1.3rem;
            white-space: nowrap;
           margin-left: -0.5rem;
           margin-top: -5rem;
        }
        
        #bg span{
            font-size: 1rem;
            white-space: nowrap;
            margin-left: 20px;
        }
}

@media (max-width: 488px) { 
    #bg{
        background-size: contain;
        width:98%;
        background-size: contain;
        margin-bottom: -25rem;
        margin-left: 5%;
        padding-right: -5rem;
        }
        #mint{
        width: 32%;
        margin-left: -4rem;
        margin-top:-15rem;
        padding-right: -20rem;
        }
        #mint h2{
           font-size: 1rem;
           white-space:nowrap;
           margin-right: -20rem;
           margin-left: -28rem;

        }
        #mint h1{
          margin-left: 0.9rem;
          white-space: nowrap;
        }
        #mint button{
           margin-left: -17rem;
           width: 5rem;
           font-size: 10px;
           white-space: nowrap;
        }

        #bg h3{
            margin-top: -3rem;
           
        }
        #input{
            margin-left: 8rem;
            margin-top: -2rem;
            height: 2rem;
        }
        #inut{
            width: 8rem;
            margin-right: 10px;
            margin-left: -7px;
        }
        input::placeholder{
            font-size: 14px;
        }
        #input button{
            height: 1rem;
            width: 4rem;
            font-size: 8px;
        }
        #bg h3{
            font-size: 1.3rem;
            white-space: nowrap;
           margin-left: -0.5rem;
           margin-top: -5rem;
        }
        
        #bg span{
            font-size: 1rem;
            white-space: nowrap;
            margin-left: 20px;
        }
}

h3{
    margin-right: 10rem;
}

#inut{
    text-indent: 5px;
    background-color: white;
}

section{
    width: 1129px;
    margin-left: 5rem;
}