@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@600&display=swap');


.Header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-left: 7.8rem;
  margin-right: 7em;
  padding-top: 30px;
  gap: 99px;
  

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

nav{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 48px;

}

a{
  text-decoration: none;
  margin-right: 25px;
  color:black;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  
}

.btn_1{
  background-color: #A02279;
  border: 0px;
  border-radius: 20px;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border-radius: 10px;
  width: 10rem;
  color: white;
  height: 3rem;
  font-family: 'Red Rose';
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 20px;
}

.img_ img{
  width: 22rem;
}
.hero, .section_{
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 99px;
  font-family: 'Red Rose';
}

.section_{
  background: #A02279;
  margin-top: 20rem;
  width: 1440px;
  margin-left: -5rem;
  padding-right: 4.7rem;
  padding-bottom: 5rem;
  font-family: 'Red Rose';
}

.sect{
  margin-left: 6rem;
  margin-top: 2rem;
  
}

#grid{
  margin-right: 10px;
}

#grid img{
  max-width: 100%;
  margin-top: 6rem;
  width: 28rem;
}

#h1_{
  color: white;
  padding-bottom: -20px;
}

#p_{
margin-top: -5rem;
font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 35px;
/* or 194% */


/* White lin */

background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}

#learn_btn{
  color:#A02279;
  background: white;
  margin-left: 6rem;
  margin-top: 2rem;
  font-family: 'Red Rose';
}

.rent_{
  display:flex;
  flex-direction: column;
  margin-left: 18px;
}

.sect_{
  display:flex;
  flex-direction: column;
  margin-left: 40px;
}

h1{
  font-size: 56px;
  width: 646px;
 height: 148px;

font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 140%;
/* or 78px */

letter-spacing: -0.02em;

/* text black */


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

p{

  width: 636px;
  height: 102px;
  
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  /* or 146% */
  
  
  /* text black */

  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: -5px;
}

h1 span{
  color: #A02279
}



.Banner{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 200px;

position: absolute;
width: 1440px;
height: 70px;
left: 0px;
top: 742px;


/* MAJOR */

background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}

.input_{
  
  border-radius: 10px;
  width: 25rem;
  height: 2.8rem;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
 font-size: 16px;
 line-height: 20px;
 border: 1px solid #A3A3A3;
 border-bottom-right-radius: 0px;
 border-top-right-radius: 0px;
 text-indent: 10px;
}


#search_btn{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}

.Footer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: -10px;
  gap: 99px;
  background: black;
  width: 1440px;
  padding-right: 5px;
  padding-bottom: 20px;
}

.logo{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  margin-right: 5rem;
  margin-top: 1rem;
  font-family: 'Red Rose';
}

.logo1 img{
  margin-top: 5rem;
}

.logo1{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 5rem;
  margin-left: 8rem;
}

.logo a , .logo h2{
  color: #FFFFFF;
   margin-top: 30px;
   font-family: 'Red Rose';
}

/* Modal Button */
.modalButton {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 12px 24px;
}
 
.logo1 .social{
  width: 8rem;
}

/* Modal */
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 200rem;
  position: fixed;
  padding-left: 20rem;
  width: 1000rem;
 margin-left: -30rem;

}

.modalContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  flex-direction: row;
  overflow: hidden;
}

.modalContainer h1{
  font-family: 'Red Rose';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
}


.modalRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.closeBtn{
  padding-left: 10rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 13rem;
  padding: 1rem 2rem;
  padding-top: 20px;

}

.content p{
  
font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */
margin-top: -8rem;
margin-bottom: -4rem;
margin-left: -12.5rem;
color: #333333;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.bold {
  font-weight: 600;
}

.connect_ {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
 margin-top: 20px;
 margin-bottom: -50px;
 border-bottom:1px solid rgba(128, 128, 128, 0.504);
 height: 70px;
 
 
}

#btnc{
  font-size: 24px;
  padding-right: -20px;
  color: black;
 font: black;
font-family: 'Red Rose';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 20px;
margin-bottom: 20px;
/* identical to box height */
padding-left: 2rem;
color: #333333;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}

.connect_ p{
  margin-left: -17rem;
  margin-bottom: 2rem;
  font-size: 18px;
 margin-top: 0.7rem;
}

.btn_connect button{
  border: 0px solid transparent;
  background: transparent;
  font-family: 'Sora';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 23px;/* identical to box height */
padding-left: -10rem;
color: #000000;
}

#btn_modal{
  padding-left: 19.7rem;
}
#btn_modal1{
  padding-left: 18rem;
}

.btn_connect{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 20px;
  margin-bottom: 20px;
  width: 500px;
  height: 50px;
  
  /* DTC Light Gray (BG) */
  
  background: #F8F9FA;
  /* DTC Mid Gray */
  
  border: 1px solid #CFD8DC;
  border-radius: 12px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
}


@media screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }
  img {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
  }

  .heading {
    margin: 1rem;
  }
}