#box{
  margin-left: 5rem;;
  width: 230px;
}

#prop{
  margin-right: 10rem;
  padding-right: 50rem;
  margin-top: 2rem;
}

@media (max-width: 988px){
  #prop{
    margin-left: -12rem;
    padding-right: 30rem;
    font-size: 10px;
  }
  #prop button{
    width: 5rem;
    white-space: nowrap;
  }

  #prop button span{
     margin-right: 2rem;
  }
  #box{
    width: 88%;
    margin-bottom: 7rem;
    margin-right: -10rem;
  
  }
  #bx{
    margin-right: 10rem;
  }
  #img{
    width: 100%;
  }
  #proty{
    margin-right: 30rem;
    margin-left: -6rem;
  }
  }

@media (max-width: 688px){
  #prop{
    margin-left: -12rem;
    padding-right: 30rem;
    font-size: 10px;
  }
  #prop button{
    width: 5rem;
    white-space: nowrap;
  }

  #prop button span{
     margin-right: 2rem;
  }
  #box{
    width: 38%;
    margin-bottom: 7rem;
    margin-right: -10rem;
  
  }
  #bx{
    margin-right: 10rem;
  }
  #img{
    width: 100%;
  }
  #proty{
    margin-right: 30rem;
    margin-left: -6rem;
  }
  }

  @media (max-width: 388px){
    #prop{
      margin-left: -17rem;
      padding-right: 30rem;
      font-size: 10px;
      margin-right: 5px;
    }
    #prop button{
      width: 4rem;
      padding-left: -2rem;
      white-space: nowrap;
      margin-right: 0;
    }

    #prop button span{
       margin-right: 2rem;
    }
    #box{
      width: 30%;
      margin-bottom: 7rem;
      margin-right: -15rem;
    
    }
    #bx{
      margin-right: 10rem;
    }
    #img{
      width: 100%;
    }
    #proty{
      margin-right: 32rem;
      margin-left: -8rem;
    }
    }