#box{
  margin-left: 5rem;;
  width: 230px;
}

#prop{
  margin-right: 10rem;
  padding-right: 50rem;
  margin-top: 2rem;
}

@media (max-width: 788px){

#box{
  width: 300px;
  margin-bottom: 7rem;
  margin-right: -10rem;

}
#bx{
  margin-right: -10rem;
}
#img{
  width: fit-content;
}
#proty{
  margin-right: 30rem;
  margin-left: -20px;
}
}

@media (max-width: 640px){
  #prop{
    margin-right: 10rem;
    padding-right: 30rem;
  }
  #box{
    width: 600px;
    margin-bottom: 7rem;
    margin-right: -10rem;
  
  }
  #bx{
    margin-right: -10rem;
  }
  #img{
    width: 580px;
  }
  #proty{
    margin-right: 30rem;
    margin-left: -20px;
  }
  }