@tailwind base;
@tailwind components;
@tailwind utilities;




@media (max-width: 988px) { 
    #nav{
        width: 30%;
    }
    #nav img{
        width: fit-content;
        margin-left: 2rem;
        margin-right: 1rem;
    }
    #btn_nav{
        margin-left: 1rem;
        margin-right: 1rem;
       
    }

    #btn_nav button{
        width: 90%;
        font-size: 8px;
        white-space: nowrap;
    }
    #sb{
        margin-left: -5rem;
        margin-top: -10rem;
    }
    #sect-blog{
        width: 60%;
        padding-right: 16rem;
        background:contain;
    }
    #sect{
        width:60%;
        white-space: nowrap;
        font-size: 8px;
        margin-left: 40px
    }
    #show {
      display: none;
    }
    #pt{
        width: 100%;
        margin-left: 2rem;
        margin-top: -6rem;
        display:flex;
        flex-direction: column;
    }
    #pt input{
        width: 90%;

    }
    #pp{
        font-size: 7px;
        margin-left: 5px;
    }
    #arch{
        display: none;
    }
}

@media (max-width: 588px) {
    #nav{
        width: 30%;
    }
    #nav img{
        width: fit-content;
        margin-left: 2rem;
        margin-right: 1rem;
    }
    #btn_nav{
        margin-left: 1rem;
        margin-right: 1rem;
       
    }

    #btn_nav button{
        width: 90%;
        font-size: 8px;
        white-space: nowrap;
    }
    #sect-blog{
        width: 30%;
        padding-left: -16rem;
        margin-right: 4rem;
        background:contain;
    }
    #sect{
        width:60%;
        white-space: nowrap;
        font-size: 8px;
    }
    #show {
      display: none;
    }
    #pt{
        width: 100%;
        margin-left: 2rem;
        margin-top: -6rem;
        display:flex;
        flex-direction: column;
    }
    #pt input{
        width: 150%;

    }
    #pp{
        font-size: 7px;
        margin-left: 5px;
    }
    #arch{
        display: none;
    }
}

@media (max-width: 388px) {
    #nav{
        width: 30%;
    }
    #nav img{
        width: fit-content;
        margin-left: 2rem;
        margin-right: 1rem;
    }
    #btn_nav{
        margin-left: 1rem;
        margin-right: 1rem;
       
    }

    #btn_nav button{
        width: 90%;
        font-size: 8px;
        white-space: nowrap;
    }
    #sect-blog{
        width: 30%;
        padding-left: -16rem;
        margin-right: 4rem;
        background:contain;
    }
    #sect{
        width:80%;
        white-space: nowrap;
        font-size: 8px;
    }
    #show {
      display: none;
    }
    #pt{
        width: 150px;
        margin-left: 2rem;
        margin-top: -6rem;
        display:flex;
        flex-direction: column;
    }

    #pp{
        font-size: 7px;
        margin-left: 5px;
    }
    #arch{
        display: none;
    }
}